.buttonWrapper {
  display: inline-block;
}

.button {
  font-size: 18px;
  background: none;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.button svg {
  fill: #F4F5F6;
}

.button:hover, .button:focus {
  background: rgba(0,0,0,0.8);
  outline: 0; /* reset for :focus */
}

.active {
  background: rgba(0,0,0,0.8);
  color: #8ACED0;
}

.active svg {
  fill: #8ACED0;
}
