body {
  line-height: 1.6;
  background: #F6F6F6;
}

#root {

}

.submit_button {
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

.submit_button > button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background-color: #8BD0D2;
  color: #FFFFFF;
  margin: 0;
  padding: 0.8em 1.5em 0.8em;
  text-transform: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;

  float: right;
}

.submit_button > button:hover {
  background-color: #8BD0D2;
  background-image: none;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  color: rgba(255, 255, 255, 0.8);
}

.submit_button > button:hover {
  opacity: 0.85;
}

.submit_button > button:focus {
  background-color: #8BD0D2;
  background-image: '' !important;
  box-shadow: '' !important;
  color: rgba(255, 255, 255, 0.8);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.wrapper {
  float: left;
  width: 83%;
  padding: 20px;
}

.blank, .editor, .side {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.editor {
  width: 70%;
  border-radius: 2px;
  margin-left: 15%;
  margin-bottom: 2em;
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #FEFEFE;
}
.blank {
  width: 8%;
}
.side {
  width: 15%;
  border: 1px solid #000;
  background: black;
}

.added_memo {
  width: 10px;
  height: 10px;
  background: pink;
}

a {
  background-color: #8BD0D2 !important;
  color: #FFFFFF !important;
}
