body {
  line-height: 1.6;
  background: #F4F5F6;
}

#root {

}

.wrap {
  width: 100%;
}

.header, .container {
  display: inline-block;;
  width: 100%;
  min-width: 760px;
  padding-left: 20%;
  padding-right: 20%;
}

.container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.header:after, .container:after {
  display: block;
  clear: both;
  content: ''
}

.blank-side {
  float: left;
  position: relative;
  left: -300px;
  width: 280px;
  margin-right: -280px;
}

.center, .editor {
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.center {
  text-align: center;
}

.editor {
  padding: 10%;
  cursor: text;
  border: 0.5px solid #A6A8AB;
  box-shadow: 0px 0px 5px 1px rgba(110,110,110,0.3);
}

.editor_content {
  padding: 10% 0;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 1075px;
}


.memo-side {
  float: left;
  position: relative;
  left: 300px;
  width: 280px;
  margin-left: -280px;
}


.blank-side, .memo-side {
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}

.blank-side {
  width: 15%;
}

.memo-side {
  width: 15%;
  border: 0px solid #000;
}



/*header 부분*/
/***** essay-title *****/
.wrapper-essay-title {
  position: relative;;
  float: left;
  width: 70%;
  height: 100%;
}

.wrapper-essay-title svg {
  cursor: pointer;
  fill: #8ACED0;
}

.rename-essay-title, .default-essay-title {
  float: left;
  min-width: 300px;
  max-width: 600px;
}

/* default-essay-title */

.default-essay-title .essay-title {
  position: relative;
  float: left;
  font-size: 22px;
  font-weight: normal;
  color: #A6A8AB;
  margin-right: 5px;
}

.default-essay-title .change-form {
  float: left;
}



/* rename-essay-title */

.rename-essay-title input {
  position: relative;
  float: left;
  font-size: 22px;
  font-weight: normal;
  color: #A6A8AB;
  margin-right: 5px;
  max-width: 600px;
  min-width: 200px;

  border: none;
  margin-right: 18px;
}



/***** submit-button *****/

.save-essay {
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
  min-width: 250px;
}

.auto-save-time {
  display: block;
  position: relative;
  float: right;
  color: #666;
  font-size: 10px;
}

.submit-button {
  display: block;
  position: relative;
  float: right;
  height: 100%;
}

.submit-button button {
  box-sizing: border-box;
  border: solid transparent;
  background: #8ACED0;
  color: #fff;
  margin-left: 12px;
  padding: 4px 15px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  min-width: 90px;
}




/****** memo ******/

.memo-exist {
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 14px;
  width: 14px;
  display: inline-block;
  position: absolute;

}

.memo-exist svg {
  position: absolute;
  cursor: pointer;
  fill: #000;
  top: 0;
}

.memo-exist svg:hover {
  position: absolute;
  cursor: pointer;
  fill: #8ACED0;
  top: 0;
}


memo {
  border-bottom: 1px solid #8ACED0 !important;
}




/************* modal *************/

.backdrop-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 100px;
  z-index: 999;
}

.complete-modal, .fail-modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
}

.modal-subtitle {
  background-color: #8ACED0;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.modal-contents div {
  text-align: center;
}

.complete-icon, .fail-icon {
  padding-top: 40px;
}

.complete-icon svg, .fail-icon svg {
  width: 50px;
  height: 50px;
}

.complete-icon svg {
  fill: #8ACED0;
}

.fail-icon svg {
  fill: #888;
}

.complete-inform, .fail-inform {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  padding: 20px 0;
}

.complete-inform-detail, .fail-inform-detail {
  font-size: 12px;
  color: #888;
}

.complete-link, .fail-inform-detail {
  padding-bottom: 20px;
}

.complete-link a {
  color: #8ACED0;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.modal-close {
  padding-bottom: 40px;
}

.modal-close button {
  display: block;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  padding: 2px 20px;
  background: #8ACED0;
  border: none;
  margin: 0 auto;
}
